<IfModule mod_rewrite.c>
  RewriteEngine on
  # Must use RewriteBase on www.student.bth.se, Rewritebase for url /~mos/test is /~mos/test/
  #RewriteBase /~pejg12/phpmvc/kmom5/another-mvc/
  RewriteBase /phpmvc/another-mvc/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) index.php/$1 [NC,L]
</IfModule>