/**
 * Description: Core theme for Another MVC
 */


/** ---------------------------------------------------------------------------
 * semantic.gs
 */
@import url('semantic.gs.less');

@columns: 12;
@column-width: 60;
@gutter-width: 20;
// Switch from pixels to percentages in the imported file above.

@import url('http://fonts.googleapis.com/css?family=Archivo+Narrow');

@grid-height: 24px;
@font-size: (@grid-height / 1.5);

/** ---------------------------------------------------------------------------
 * Grid
 */
// * {outline: solid 1px silver;}

header#top {
  .column(12);
  position: absolute; top: 0; left: 0;
}

header#top>nav {
  .column(12);
  &>ul {
    position: absolute; top: 0; right: 0;
    margin-top: 0;
    margin-right: 0;
    li {
      list-style-type: none;
      display: inline;
      margin-left: 2ex;
      a { text-decoration: none; }
      &:hover { text-decoration: underline; }
    }
  }
}

body>header>h1 {
  .column(12);
  clear: both;
  margin-bottom: @grid-height;
}

body>nav {
  .column(3);
//   clear: left;
  ul {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    li {
      list-style-type: 0;
      a { text-decoration: none; }
      &:before { content: "» "; }
      &:hover { text-decoration: underline; }
    }
  }
}

body>article {
  .column(9);
//   clear: right;
  position: relative;
  margin-bottom: @grid-height;
}

body>footer {
  .column(12);
  clear: both;
}

body>article>aside {
  &.small {
    .column(3);
    margin-bottom: @grid-height;

    float: left;
    margin-left: 0;
    margin-right: (@gutter-width * 1px);

    &.right {
      float: right;
      margin-left: (@gutter-width * 1px);
      margin-right: 0;
    }

    &.middle {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

nav,
header,
footer,
article,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
code {
  &:first-child { margin-top: 0; }
}


/** ---------------------------------------------------------------------------
 * Typography
 */
html {
//   font-family: Cambria, Georgia, "Times New Roman", Times, serif;
  font-family: 'Archivo Narrow', sans-serif;
  color: #333;
}

html:hover {
  background: url('img/grid_12_60_20.png') left top repeat-y #fff;
}

body {
  font-size: @font-size;
  line-height: @grid-height;
}

pre,
code {
  font-size: (@font-size * 0.75);
  margin-bottom: @grid-height;
}

code {
  line-height: (@grid-height * 0.75);
  background-color: #FFC;
}

/* Headers */

h1, h2, h3, h4, h5, h6 { margin-bottom: @grid-height; }
h1 { font-size:  @grid-height;        }
h2 { font-size: (@grid-height * 0.9); }
h3 { font-size: (@grid-height * 0.8); }
h4 { font-size: (@grid-height * 0.7); }
h5 { font-size: (@grid-height * 0.6); }
h6 { font-size: (@grid-height * 0.6); }

/* Paragraphs */

p { margin-bottom: @grid-height; }

/* Lists */

ul ul,
ol ol { margin: 0 0 0 (@column-width * 1px); }

ul, ol { margin-bottom: @grid-height; }

article ul { list-style-position: outside; }

/* Other elements */
hr { margin-top: -2px; margin-bottom: @grid-height; }

/* Forms */

form,
input,
label,
textarea {
  margin-bottom: @grid-height;
}

input { margin: 0; padding: 0; }
input[type='submit'] {  height: @grid-height; padding: 0 1ex;}
input[type='text'] {  height: (@grid-height / 1.5);}

/** ---------------------------------------------------------------------------
 * Background-colors
 */
nav,
article,
aside,
footer,
header {
  background-color: rgba(0, 0, 0, 0.1);
}