/**
 * Description: Core theme for Another MVC
 */


/** ---------------------------------------------------------------------------
 * semantic.gs
 */
@import url('semantic.gs.less');

@columns: 12;
@column-width: 60;
@gutter-width: 20;
// Switch from pixels to percentages in the imported file above.

@import url('http://fonts.googleapis.com/css?family=Archivo+Narrow');

@grid-height: 24px;
@font-size: (@grid-height / 1.5);

/** ---------------------------------------------------------------------------
 * Grid
 */
// * {outline: solid 1px silver;}

header#top {
  .column(12);
  position: absolute; top: 0; left: 0;
}

header#top>nav {
  .column(12);
  &>ul {
    position: absolute; top: 0; right: 0;
    margin-top: 0;
    margin-right: 0;
    li {
      list-style-type: none;
      display: inline;
      margin-left: 2ex;
      a { text-decoration: none; }
      &:hover { text-decoration: underline; }
    }
  }
}

body>header>h1 {
  .column(12);
  clear: both;
  margin-bottom: @grid-height;
}

body>nav {
  .column(2);
  clear: left;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: 0;
      a { text-decoration: none; }
      &:before { content: "» "; }
      &:hover { text-decoration: underline; }
    }
  }
}

body>article {
  .column(10);
  clear: right;
}

body>footer {
  .column(12);
  clear: both;
  margin-top: @grid-height;
}

/** ---------------------------------------------------------------------------
 * Typography
 */
html {
  font-family: Cambria, Georgia, "Times New Roman", Times, serif;
  color: #333;
}

html:hover {
  background: url('img/grid.png') left -6px repeat-y #fff;
}

body {
  font-size: @font-size;
  line-height: @grid-height;
}

pre { font-size: (@font-size * 0.75); }

/* Headers */

h1, h2, h3, h4, h5, h6 { margin-bottom: @grid-height; }
h1 { font-size:  @grid-height;        }
h2 { font-size: (@grid-height * 0.9); }
h3 { font-size: (@grid-height * 0.8); }
h4 { font-size: (@grid-height * 0.7); }
h5 { font-size: (@grid-height * 0.6); }
h6 { font-size: (@grid-height * 0.6); }

/* Paragraphs */

p { margin-bottom: @grid-height; }
p:first-of-type { margin-top: 0; }

/* Lists */

ul ul,
ol ol { margin: 0 0 0 @column-width; }

ul, ol { margin-bottom: @grid-height; }

article ul { list-style-position: outside; }

/* Other elements */

pre { margin-bottom: @grid-height; }
hr { margin-top: -2px; margin-bottom: @grid-height; }

/* Forms */

form,
input,
label,
textarea {
  margin-bottom: @grid-height;
}

input { margin: 0; padding: 0; }
input[type='submit'] {  height: @grid-height; padding: 0 1ex;}
input[type='text'] {  height: (@grid-height / 1.5);}
