html {
  overflow-y: scroll;
}
.navbar-static-bottom .container {
  width: 940px;
}
.navbar-static-bottom {
  position: static;
  margin-bottom: 0;
  margin-top: 1em;
}
.navbar-static-bottom .navbar-inner {
  padding-top: 1em;
  text-align: center;
  border-width: 1px 0 0 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(bottom,#ffffff,#f2f2f2);
  background-image: -webkit-gradient(linear,0 0,0 100%,to(#ffffff),from(#f2f2f2));
  background-image: -webkit-linear-gradient(bottom,#ffffff,#f2f2f2);
  background-image: -o-linear-gradient(bottom,#ffffff,#f2f2f2);
  background-image: linear-gradient(to top,#ffffff,#f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2',endColorstr='#ffffffff',GradientType=0);
}
footer pre {
  text-align: left;
}
aside h1,
aside h2,
aside h3 {
  line-height: 20px;
}
aside h1 {
  font-size: 25px;
}
aside h2 {
  font-size: 22.5px;
}
aside h3 {
  font-size: 20px;
}
aside h4 {
  font-size: 17.5px;
}
aside h5 {
  font-size: 15px;
}
aside h6 {
  font-size: 15px;
}
aside h1 small {
  font-size: 22.5px;
}
aside h2 small {
  font-size: 20px;
}
aside h3 small {
  font-size: 17.5px;
}
aside h4 small {
  font-size: 17.5px;
}
