@import url('http://fonts.googleapis.com/css?family=Archivo+Narrow');
html {
  overflow-y: scroll;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  width: 960px;
  padding: 0;
  margin: 0 auto;
  position: relative;
}
body>header {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
  clear: both;
  margin-bottom: 24px;
}
body>header:nth-child(2) {
  margin-top: 24px;
}
body>header#top {
  position: absolute;
  top: 0;
  left: 0;
}
body>header#top>nav>ul {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  margin-right: 0;
}
body>header#top>nav>ul li {
  list-style-type: none;
  display: inline;
  margin-left: 2ex;
}
body>header#top>nav>ul li a {
  text-decoration: none;
}
body>header#top>nav>ul li:hover {
  text-decoration: underline;
}
body>nav {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
}
body>section>nav,
body>aside>nav,
body>nav {
  margin-bottom: 24px;
}
body>section>nav ul,
body>aside>nav ul,
body>nav ul {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
body>section>nav ul li,
body>aside>nav ul li,
body>nav ul li {
  list-style-type: none;
}
body>section>nav ul li a,
body>aside>nav ul li a,
body>nav ul li a {
  text-decoration: none;
}
body>section>nav ul li:before,
body>aside>nav ul li:before,
body>nav ul li:before {
  content: "» ";
}
body>section>nav ul li:hover,
body>aside>nav ul li:hover,
body>nav ul li:hover {
  text-decoration: underline;
}
body>section,
body>aside {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
  margin-bottom: 24px;
}
body>article {
  display: inline;
  float: left;
  width: 700px;
  margin: 0 10px;
  position: relative;
  margin-bottom: 24px;
}
body>footer {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
  clear: both;
  margin-bottom: 24px;
}
body>article .small {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
}
body>header .small,
body>footer .small {
  display: inline;
  float: left;
  width: 300px;
  margin: 0 10px;
}
.small,
article>section.small,
article>aside.small {
  margin-bottom: 24px;
}
.small,
.small.left,
article>section.small,
article>section.small.left,
article>aside.small,
article>aside.small.left {
  float: left;
  margin-left: 0;
  margin-right: 20px;
}
.small.right,
article>section.small.right,
article>aside.small.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.small.middle,
article>section.small.middle,
article>aside.small.middle {
  margin-left: 0;
  margin-right: 0;
}
nav:first-child,
header:first-child,
footer:first-child,
article:first-child,
section:first-child,
aside:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child,
ul:first-child,
ol:first-child,
li:first-child,
blockquote:first-child,
pre:first-child,
code:first-child {
  margin-top: 0;
}
nav,
article,
footer,
header,
section,
aside {
  margin-bottom: 24px;
  *zoom: 1;
}
nav:before,
nav:after,
article:before,
article:after,
footer:before,
footer:after,
header:before,
header:after,
section:before,
section:after,
aside:before,
aside:after {
  content: "";
  display: table;
}
nav:after,
article:after,
footer:after,
header:after,
section:after,
aside:after {
  clear: both;
}
html {
  font-family: 'Archivo Narrow', sans-serif;
  color: #333;
  background-color: #eee;
}
body {
  font-size: 16px;
  line-height: 24px;
}
pre,
code {
  font-size: 12px;
  margin-bottom: 24px;
}
code {
  line-height: 18px;
  background-color: #FFC;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo Narrow', sans-serif;
  margin-bottom: 24px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 21.6px;
}
h3 {
  font-size: 19.2px;
}
h4 {
  font-size: 16.8px;
}
h5 {
  font-size: 14.4px;
}
h6 {
  font-size: 14.4px;
}
p {
  margin-bottom: 24px;
}
ul,
ol {
  margin-left: 0;
  padding-left: 20px;
  margin-bottom: 24px;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin: 0 0 0 60px;
  padding: 0;
}
ul ul ul,
ul ul ol,
ul ol ul,
ul ol ol,
ol ul ul,
ol ul ol,
ol ol ul,
ol ol ol {
  margin: 0 0 0 80px;
  padding: 0;
}
dl {
  margin-left: 0;
  margin-bottom: 24px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 80px;
}
article ul {
  list-style-position: outside;
}
hr {
  margin-top: -2px;
  margin-bottom: 24px;
}
blockquote {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 24px;
}
form,
input,
label,
textarea {
  margin-bottom: 24px;
}
input {
  margin: 0;
  padding: 0;
}
input[type='submit'] {
  height: 24px;
  padding: 0 1ex;
}
input[type='text'] {
  height: 16px;
}
