/**
 * Description: Core theme for Another MVC
 */

html {
  overflow-y: scroll;
}

/** ---------------------------------------------------------------------------
 * semantic.gs
 */
@import url('semantic.gs.less');

@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Utility variable — you should never need to modify this
@gridsystem-width: (@column-width*@columns) + (@gutter-width*@columns) * 1px;

@media screen and (max-width: 980px) {
}
// Set @total-width to 100% for a fluid layout
@total-width: @gridsystem-width;
// @total-width: 100%;

/** ---------------------------------------------------------------------------
 * Grid
 */
// * {outline: solid 1px silver;}

@grid-height: 24px;
@font-size: (@grid-height / 1.5);

body {
  width: @gridsystem-width;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

body>header {
  .column(12);
  clear: both;
  &:nth-child(2) {
    margin-top: @grid-height;
  }
  margin-bottom: @grid-height;
  &#top {
    position: absolute; top: 0; left: 0;
    &>nav {
      &>ul {
        position: absolute; top: 0; right: 0;
        margin-top: 0;
        margin-right: 0;
        li {
          list-style-type: none;
          display: inline;
          margin-left: 2ex;
          a { text-decoration: none; }
          &:hover { text-decoration: underline; }
        }
      }
    }
  }
}

body>nav {
  .column(3);
}

body>section>nav,
body>aside>nav,
body>nav {
  margin-bottom: @grid-height;
  ul {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    li {
      list-style-type: 0;
      a { text-decoration: none; }
      &:before { content: "» "; }
      &:hover { text-decoration: underline; }
    }
  }
}

body>section,
body>aside {
  .column(3);
  margin-bottom: @grid-height;
}

body>article {
  .column(9);
  position: relative;
  margin-bottom: @grid-height;
}

body>footer {
  .column(12);
  clear: both;
  margin-bottom: @grid-height;
}

body>article .small {
  .column(3);
}

body>header .small,
body>footer .small {
  .column(4);
}

.small,
article>section.small,
article>aside.small {
  margin-bottom: @grid-height;

  &,
  &.left {
    float: left;
    margin-left: 0;
    margin-right: (@gutter-width * 1px);
  }

  &.right {
    float: right;
    margin-left: (@gutter-width * 1px);
    margin-right: 0;
  }

  &.middle {
    margin-left: 0;
    margin-right: 0;
  }
}

nav,
header,
footer,
article,
section,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
pre,
code {
  &:first-child { margin-top: 0; }
}

nav,
article,
footer,
header,
section,
aside {
  margin-bottom: @grid-height;
  .clearfix;
}

/** ---------------------------------------------------------------------------
 * Typography
 */
@import url('http://fonts.googleapis.com/css?family=Archivo+Narrow');

html {
//   font-family: Cambria, Georgia, "Times New Roman", Times, serif;
  font-family: 'Archivo Narrow', sans-serif;
  color: #333;
  background-color: #eee;
}

html:hover {
//   background: url('img/grid_12_60_20.png') left top repeat-y #fff;
}

body {
  font-size: @font-size;
  line-height: @grid-height;
}

pre,
code {
  font-size: (@font-size * 0.75);
  margin-bottom: @grid-height;
}

code {
  line-height: (@grid-height * 0.75);
  background-color: #FFC;
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Narrow', sans-serif;
  margin-bottom: @grid-height;
}
h1 { font-size:  @grid-height;        }
h2 { font-size: (@grid-height * 0.9); }
h3 { font-size: (@grid-height * 0.8); }
h4 { font-size: (@grid-height * 0.7); }
h5 { font-size: (@grid-height * 0.6); }
h6 { font-size: (@grid-height * 0.6); }

/* Paragraphs */

p { margin-bottom: @grid-height; }

/* Lists */

ul,
ol {
  margin-left: 0;
  padding-left: (@gutter-width * 1px);
  margin-bottom: @grid-height;
  ul,
  ol {
    margin: 0 0 0 (@column-width * 1px);
    padding: 0;
    ul,
    ol {
      margin: 0 0 0 ((@column-width * 1px) + (@gutter-width * 1px));
      padding: 0;
    }
  }
}

dl {
  margin-left: 0;
  margin-bottom: @grid-height;
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: ((@column-width * 1px) + (@gutter-width * 1px));
  }
}

article ul { list-style-position: outside; }

/* Other elements */

hr {
  margin-top: -2px;
  margin-bottom: @grid-height;
}

blockquote {
  margin-left: ((@column-width * 1px) + (@gutter-width * 1px));
  margin-right: ((@column-width * 1px) + (@gutter-width * 1px));
  margin-bottom: @grid-height;
}

/* Forms */

form,
input,
label,
textarea {
  margin-bottom: @grid-height;
}

input { margin: 0; padding: 0; }
input[type='submit'] {  height: @grid-height; padding: 0 1ex;}
input[type='text'] {  height: (@grid-height / 1.5);}

/** ---------------------------------------------------------------------------
 * Background-colors
 */
nav,
article,
footer,
header,
section,
aside {
//   background-color: rgba(0, 0, 0, 0.1);
}
