/**
 * Description: Sample theme for site which extends the Anther MVC Grid theme.
 */
@import url('../../../themes/grid/style.css');

@grid-height: 24px;

@radius: 20px;
@whitespace: #FFF;
@background-color: #DEF;
@border-color: #9CF;
@border-height: 1px;

html {
  background-color: @background-color;
}

body {
  background-color: @background-color;
}

body>header:first-child {
  background-color: transparent;
}

body>header:nth-child(2) {
  margin-top: @grid-height;
  border-radius: @radius @radius 0 0;
}

body>footer:last-child {
  border-top: solid @border-height @border-color;
  margin-top: (@grid-height - @border-height);
  border-radius: 0 0 @radius @radius;
}

article,
section,
header,
footer,
aside {
  background-color: @background-color !important;
}

nav .selected {
  font-weight: bold;
}

article {
  h1,
  h2 {
    border-bottom: solid @border-height @border-color;
    margin-bottom: (@grid-height - 1px);
  }
}
