@import url('../../../themes/grid/style.css');
html {
  background-color: #FFF;
}
body {
  background-color: #FFF;
}
body>header:first-child {
  border-radius: 20px 20px 0 0;
}
body>header:nth-child(2) {
  border-bottom: dotted 2px #69F;
}
body>footer:last-child {
  border-top: dotted 2px #69F;
  border-radius: 0 0 20px 20px;
}
article,
section,
header,
footer,
aside {
  background-color: #DEF;
}
